[submodule "lib/MoonWorks"]
	path = lib/MoonWorks
	url = https://github.com/MoonsideGames/MoonWorks
[submodule "lib/MoonTools.ECS"]
	path = lib/MoonTools.ECS
	url = https://github.com/MoonsideGames/MoonTools.ECS
[submodule "lib/Steamworks.NET.Dissent"]
	path = lib/Steamworks.NET.Dissent
	url = https://github.com/MoonsideGames/Steamworks.NET.Dissent
