[submodule "lib/MoonWorks"]
	path = lib/MoonWorks
	url = https://github.com/MoonsideGames/MoonWorks
[submodule "lib/MoonTools.ECS"]
	path = lib/MoonTools.ECS
	url = https://github.com/MoonsideGames/MoonTools.ECS
